.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_item {
  color: #fff;
  font-size: 16px;
  width: 100px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.nav_item:hover,
.nav_item_selected {
  color: var(--main-color);
  border-bottom: 1px var(--main-color) solid;
  padding: 20px 0;
  cursor: pointer;
  font-size: 20px;
}

.header__contact_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__contact {
  margin-left: 300px;
  background-color: var(--main-color);
  padding: 14px;
  font-size: 20px;
  border-radius: 24px;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.header__contact:hover {
  background-color: var(--main-color-dark);
  margin-bottom: 10px;
}
