.projects__wrapper {
  display: flex;
  flex-direction: row;
}

.projects__main {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin-left: 50px;
}

.projects__title {
  font-size: 64px;
  margin-bottom: 30px;
  width: 680px;
}

.projects__text {
  font-size: 21px;
  margin-bottom: 40px;
  width: 660px;
  text-align: justify;
}

.projects__project_galery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.projects__project__img {
  height: 200px;
  width: 370px;
}

.projects__project {
  height: 230px;
  width: 350px;
}

.projects__project__title {
  font-size: 21px;
  margin-bottom: 10px;
  width: 370px;
}

.projects__section_making_space {
  width: 58%;
}
