footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_p {
  color: var(--main-color);
  font-size: 16px;
  transition: all .2s ease-in-out;
}

.footer_p:hover {
  cursor: pointer;
  color: var(--main-color-dark);
  margin-bottom: 10px;
}
